registry=https://artifactory.rogers.com/artifactory/api/npm/cdk-npm-virtual/
  @rogers:registry=https://artifactory.rogers.com/artifactory/api/npm/cdk-npm-virtual/
  //artifactory.rogers.com/artifactory/api/npm/cdk-npm-virtual/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJoVEN6QktBV2U0WFpnTHZRQlBvV25TRGtSamhKYU1FOW9nWW9HR3lhRGZrIn0.eyJzdWIiOiJqZnJ0QDAxZDdkYzljejA5ZXhnMDBhNXh4ODUwd3NxXC91c2Vyc1wvaGFyc2gua2FseWFuaSIsInNjcCI6Im1lbWJlci1vZi1ncm91cHM6KiBhcGk6KiIsImF1ZCI6ImpmcnRAMDFkN2RjOWN6MDlleGcwMGE1eHg4NTB3c3EiLCJpc3MiOiJqZnJ0QDAxZDdkYzljejA5ZXhnMDBhNXh4ODUwd3NxXC91c2Vyc1wvaGFyc2gua2FseWFuaSIsImlhdCI6MTY1OTEwMDUyMywianRpIjoiOWI4NmMxNmUtZjc4Ni00MzY4LWJhYTEtZjBkNDQ2NWNjMzA4In0.e9b7z80jDQyQ7lWLxcAJPFtjnRkyIda8yjBS9SPby_GbCnVA3-LUyI8ihbKMnL3RM-TLPuBHYaarW84sqN1vTInOR-4BZHBohB2bJnvkV3Z8NmoEtP8dAbx6Y_ypsVIaICQPKsS7T0WrVyvqlVc9RpLp77-UOwO_x1McKFDx8yOVAJXCVxnQnWlGyaUXfWKOKHLOoZE13PbFzRTE6SyQRq-CbxiRsnURQuNRI0-Je425YpNA-E53gNibObo4AnJewzNm_bkmnr1ZIeai9po2gVvoJ61JVHX9Ix98hJN1ab3yj2Rhl0Ui_5TLfw6qfNobI0xZ1t6ujfs_fFEbX5N-Jg
  //artifactory.rogers.com/artifactory/api/npm/cdk-npm-virtual/:always-auth=true
