<dsa-layout
[colXs]="[12, 12, 12]"
[colSm]="[4, 8, 12]"
[colMd]="[12, 4, 8]"
[spacing]="16"
[spacingXs]="0"
[marginBottom]="48"
[marginBottomXs]="0"
>
<div>
  <p style="font-size: 45px;color:green;text-align:center;margin-bottom: 40px;">
    Mission and Vision
  </p>
</div>
<div classs="col-md-4">
    <ds-picture src="{{ imgSrc1 }}" alt="Product Image1" 
      variant="product1"></ds-picture>
</div>
<div>
    <h3>OUR MISSION</h3>
    
    <p>
        At Royal Crown we believe that every young person has powerful potential, and in the right environment, they will flourish.
        
        Our mission is to unleash the potential in each student and set them on a path for a successful life.
        
        Our number one priority every day is to provide a best-in-class experience for each and everyone of our students, considering their individual needs and providing an energizing and caring environment.
        
        </p>
</div>
</dsa-layout>

<dsa-layout
[colXs]="[12, 12, 12]"
[colSm]="[4, 8, 12]"
[colMd]="[12, 4, 8]"
[spacing]="16"
[spacingXs]="0"
[marginBottom]="48"
[marginBottomXs]="0"
>
<div>
  <p>
   
  </p>
</div>
<div classs="col-md-4">
    <ds-picture src="{{ imgSrc2 }}" alt="Product Image2" 
      variant="product1"></ds-picture>
</div>
<div>
    <h3> OUR 4 PILLARS OF LEARNING</h3>
    
    <p>
       
        <b>Academics</b> We offer a rigorous progressive academic program led engaging teachers. We allow for more individual attention, have small class sizes, and ensure a productive energizing learning environment.<br/>
        
        <b>Athletics</b> Our elite basketball program offers a fully integrated schedule to allow for daily high level training as well as rigourous academics. We also offer a good selection of co-curricular sports for everyone to participate in.<br/>
        
        <b>Diversity</b> Our highly diverse student body with students from all the world as well as elite student athletes allows students to learn about different cultures and become global citizens. We also encourage students to try new activities and new experiences and offer a variety of co-curricular activities, service learning as well as leadership opportunities.<br/>
        
        <b>Community</b> We provide an energizing school culture and a caring school community, where every student belongs and where you make memories and friends for life.
        
        </p>
</div>
</dsa-layout>
<dsa-layout [marginBottom]="48">
    <div><p style="text-align: center;color: red;"><b>OUR VALUES</b><br/><b style="color: green;">_____________________________________</b></p></div>
  </dsa-layout>
  <dsa-layout
    [colXs]="12"
    [colMd]="3"
    [colSm]="6"
    [spacing]="16"
    [marginBottom]="48"
  >
    <div>
      <p>
        <b>We are a Caring Community</b><br/>
        At Royal Crown, every student belongs and every individual matters. We show respect. We collaborate. We help each other. We cheer each other on. We have positive impact on people around us and we have fun together.
      </p>
    </div>
    <div>
      <p>
        <b>We Aim High</b><br/>
        We hold ourselves to the highest of standards. We have the courage to set big goals for ourselves. We strive to do remarkable things.
      </p>
    </div>
    <div>
      <p>
        <b>We Aim High</b><br/>
        We hold ourselves to the highest of standards. We have the courage to set big goals for ourselves. We strive to do remarkable things.
      </p>
    </div>
    <div>
      <p>
       <b>We embrace Diversity</b><br/>
        It enriches and strengthens us. We reach out to people who are different than us and we include everyone. We learn about the world around us, and we seek out diverse experiences, which will make us better and open doors.
      </p>
    </div>
  </dsa-layout>