<!-- <ds-modal
      heading=""
      closeCaption="close modal"
      size="small"
    >
      <div body>
        <h3>Details Form</h3>
        <form [formGroup]="userForm">
          <div class="mt-5">
            <div class="form-row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Name:</label>
                  <div class="form-row">
                    <input type="text" formControlName="name" class="form-control">
                  </div>
                </div>

              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Phone:</label>
                  <div class="form-row">
                    <input type="number" formControlName="phone" class="form-control">
                  </div>
                </div>

              </div>
              
              <div class="col-md-12">
                <div class="form-group">
                  <label>Address:</label>
                  <div class="form-row">
                    <input type="text" formControlName="address" class="form-control">
                  </div>
                </div>

              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label>Percentage</label>
                  <div class="form-row">
                    <input type="number" formControlName="percentage" class="form-control">
                  </div>
                </div>

              </div>

              

            </div>

          </div>

          <div footer class="form-row">
            <button class="mr-8" ds-button (click)="addItem()">Add</button>&nbsp;
            <button class="mr-8" ds-button (click)="reset()">Reset</button>
          </div>

        </form>
      </div>
    </ds-modal> -->
