h3{
    text-align: center;
    color: #da291c;
    font-weight: bold;
    font-size: 45px;
}

.con{
    margin-left: 25%;
    margin-right: 20%;
    vertical-align: middle;
    margin-top: 100px;
    outline: 0.5px black dotted;
    width: 50%;
    height: auto;
}

form{
    margin-left: 10px;
    margin-right: 10px;
}

label{
    font-weight: bold;
}