h2{
    margin-left: 34%;
    color: #da291c;
    font-weight: bold;
    margin-top: 40px;
}

.row{
    align-items: center;
}
// ds-tab-item:focus{
//     outline: 1px black solid !important;
// }



