<h1 style="color: green;text-align: center;">Factors of our school</h1>
<dsa-parallax [data]="images[0]">
    <h1 class="mb-4">Laboratory</h1>
  </dsa-parallax>
  <div>
    <p>Computer education is essential for today’s generation, so it should be available to all the students.

      With these factors, parents and schools must ensure that they provide the aforementioned list of basic school
      facilities to students for their well-being along with quality education.</p>
  </div>

  <dsa-parallax [data]="images[1]">
    <h1 class="mb-4">Temperature Control</h1>
  </dsa-parallax>
  <div>
    <p>The classroom’s temperature affects the mood and engagement levels of students and their academic outcomes. If
      students are feeling too hot or cold, then it directly affects their concentration levels. Proper temperature
      should be monitored to enable students to focus in a much better way.</p>
  </div>
 
  <dsa-parallax [data]="images[2]">
    <h1 class="mb-4">Playgrounds and Sport Facilities</h1>
  </dsa-parallax>
  <div>
    <p>We provide adequate spacing for playgrounds to students for the improvement of physical and mental health, sports
      facilities.However, facilities like basketball courts, table tennis tables and badminton and more are essential in
      today’s era when sports play a major role in students’ lives. </p>
  </div>
  <dsa-parallax [data]="images[3]">
    <h1 class="mb-4">Acoustics and Noise</h1>
  </dsa-parallax>
  <div>
    <p>A classroom equipped with furnished desks and table should be a quiet place where the students can have mental
      peace and they are able to concentrate without any distractions. Noisy classrooms generally have poor effects when
      it comes to learning.</p>
  </div>
